{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PROJECT01</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <h1 class="page-header">Welcome, {{ name }}</h1>

      <div class="search-box">
        <h1>Search Books</h1>
          <form class="form-search" method="POST" action="/search">
            <p class="description">Search by ISBN, Title, Author, or Publication Year.</p>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.search) }}
            {% if results %}
              {{ results }}
            {% endif %}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
        </form>
      </div>

    </div><!-- /.container -->
{% endblock %}
